<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/index.css" rel="stylesheet"/>
    <script type="text/javascript" src="/js/aidan.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Berapa lama Aidan gak main ARK?</title>
    <meta name="description" content="Aidan main ga main ark berapa lama?">
</head>
<body>
    <div class="text-justify">
        <div class="anjing">
            <br/>
            <h1 class="text-center">Berapa lama Aidan gak main ARK?</h1>
            <br/>
            <h1 class="text-center" id="demo">Empty</h1>
            <br/>
            <hr/>
        </div>
        <br/>
        <div>
            <h3 class="text-center">QnA</h3>
            <h4 class="text-center">Kenapa Aidan ga main ARK?</h4>
            <h1 class="text-center fontBig">:(</h1>
            
        </div>
        <footer>
            <p class="text-center">ngapain si anjing</p>
        </footer>
    </div>
    <script>

    </script>
</body>
</html>